// @include font(Roboto, 20px, bold, 1.8, #333);
@mixin font($family, $size: 16px, $weight: 400, $line-height: 1.5, $color: #000) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  color: $color;
}

// @include flexbox(row, nowrap, space-between, center);
@mixin flexbox($direction: row, $wrap: wrap, $justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}

// @include transition(all, 0.5s, ease-in-out, 0s);
@mixin transition($property, $duration, $timing-function, $delay) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing-function;
  transition-delay: $delay;
}

// Example ussage below
@mixin media-query($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: #{$tablet}) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (min-width: #{$tablet + 1px}) and (max-width: #{$desktop}) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (min-width: #{$desktop + 1px}) {
      @content;
    }
  } @else if $breakpoint == desktop-wide {
    @media (min-width: #{$desktop + 305px}) {
      @content;
    }
  }
}
// .my-class {
//   width: 100%;
//   @include media-query(mobile) {
//     width: 90%;
//   }
//   @include media-query(tablet) {
//     width: 80%;
//   }
//   @include media-query(desktop) {
//     width: 70%;
//   }
// }

// @include transition(margin, padding, color, 0.5s, ease-in-out, 0s);
// works with many properties
@mixin transition($properties, $duration, $timing-function, $delay) {
  transition-property: $properties;
  transition-duration: $duration;
  transition-timing-function: $timing-function;
  transition-delay: $delay;
}

// @include responsive-background-image('image-file-path');
@mixin responsive-background-image($file-path) {
  background-image: url('#{$file-path}.jpg');

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url('#{$file-path}@2x.jpg');
  }
  @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
    background-image: url('#{$file-path}@3x.jpg');
  }
}
