// fonts
$font-stack: 'Roboto', serif, 'Arial', sans-serif;

//colors
$accent-color: #ff6b08;

$font-color-primary: #fff;
$font-color-secondary: #000000;
$font-color-tertiary: #545454;
$font-color-warrning: #ff001b;

$icon-color: #818181;
$icon-color-secondary: #000;
$logo-color: #818181;

$background-color-primary: #f7f7f7;
$background-color-secondary: #e5e5e5;

$hero-overlay-color: #0000008f;
$button-background-color: #0000008f;

$modal-accent-color: #8c8c8c;

//screen width breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

//gallery card size maps

$card-size-mobile: (
  width: 280px,
  height: 402px,
);
$card-size-tablet: (
  width: 294px,
  height: 398px,
);
$card-size-desktop: (
  width: 274px,
  height: 398px,
);
