.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: all 250ms;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 500ms, opacity 250ms ease-in-out 500ms;
}
