<div class="authors__backdrop hidden">
  <div class="authors__modal">
    <div class="modal__header">
      <p class="modal__header-title">Authors</p>
    </div>
    <div class="modal__content">
      <ul class="authors__list">
        <li class="author">
          <figure class="">
            <img src="/src/images/patryk.jpg" class="author__selfie" alt="author photo" />
            <figcaption class="author__desc">
              <p class="desc__title">DEVELOPER</p>
              <p class="userdata">PATRYK KAROLCZAK</p>
            </figcaption>
          </figure>
        </li>
        <li class="author">
          <figure class="">
            <img src="/src/images/patryk.jpg" class="author__selfie" alt="author photo" />
            <figcaption class="author__desc">
              <p class="desc__title">Developer</p>
              <p class="userdata">Marta Dąbrowska</p>
            </figcaption>
          </figure>
        </li>
        <li class="author">
          <figure class="">
            <img src="/src/images/patryk.jpg" class="author__selfie" alt="author photo" />
            <figcaption class="author__desc">
              <p class="desc__title">Developer</p>
              <p class="userdata">Dominik Danielewicz</p>
            </figcaption>
          </figure>
        </li>
        <li class="author">
          <figure class="">
            <img src="/src/images/patryk.jpg" class="author__selfie" alt="author photo" />
            <figcaption class="author__desc">
              <p class="desc__title">Developer</p>
              <p class="userdata">Rafał Szewczyk</p>
            </figcaption>
          </figure>
        </li>
        <li class="author">
          <figure class="">
            <img src="/src/images/patryk.jpg" class="author__selfie" alt="author photo" />
            <figcaption class="author__desc">
              <p class="desc__title">Developer</p>
              <p class="userdata">Paweł Rogowski</p>
            </figcaption>
          </figure>
        </li>
        <li class="author">
          <figure class="">
            <img src="/src/images/patryk.jpg" class="author__selfie" alt="author photo" />
            <figcaption class="author__desc">
              <p class="desc__title">Developer</p>
              <p class="userdata">Dawid Bartuś</p>
            </figcaption>
          </figure>
        </li>
        <li class="author">
          <figure class="">
            <img src="/src/images/patryk.jpg" class="author__selfie" alt="author photo" />
            <figcaption class="author__desc">
              <p class="desc__title">Developer</p>
              <p class="userdata">Patryk Karolczak</p>
            </figcaption>
          </figure>
        </li>
      </ul>
      <button class="modal__button">CLOSE</button>
    </div>
  </div>
</div>
