<header class="header-library">
  <nav class="navigation">
    <a class="logo" href="./index.html" title="Home page">
      <svg class="logo__icon">
        <use href="/src/images/icons.svg#film"></use>
      </svg>
      <h1 class="logo__text">Filmoteka</h1>
    </a>
    <ul class="navigation__list">
      <li class="navigation__item">
        <a class="navigation__link" href="./index.html" title="Home page">Home</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link--active" href="./library.html" title="Library page">My Library</a>
      </li>
    </ul>
  </nav>
  <ul class="library-actions">
    <li class="library-actions__item">
      <button class="library-actions__button--active">Watched</button>
    </li>
    <li class="library-actions__item">
      <button class="library-actions__button">Queue</button>
    </li>
  </ul>
</header>
<div class="gallery__library"></div>
