<main class="main-section">
  <section class="gallery">
    <!-- .gallery box is added to center fixed width cards on the screen, since flex-basis doesnt get the -->
    <div class="gallery__box">
      <!-- <figure class="card">
        <img class="card__image" src="#" alt="card template" />
        <figcaption class="card__caption">
          <p class="card__title">card title</p>
          <p class="card__description">card | description</p>
        </figcaption>
      </figure> -->
    </div>
    <!-- added .hidden class for later use in JS, sass/utilities/_visibility.scss -->
    <div class="pagination">
      <button class="pagination__button--previous">
        <svg class="pagination__icon--previous"><use href="/src/images/icons.svg#arrow"></use></svg>
      </button>
      <button class="pagination__button--first">1</button>
      <span class="pagination__placeholder--before">&middot&middot&middot</span>
      <button class="pagination__button--before-current">20</button>
      <button class="pagination__button--current">21</button>
      <button class="pagination__button--after-current">22</button>
      <span class="pagination__placeholder--after">&middot&middot&middot</span>
      <button class="pagination__button--last">99</button>
      <button class="pagination__button--next">
        <svg class="pagination__icon--next"><use href="/src/images/icons.svg#arrow"></use></svg>
      </button>
    </div>
  </section>
</main>
