<main class="main-section">
  <section class="gallery">
    <h1 class="hidden">FILMOTEKA</h1>
    <!-- .gallery box is added to center fixed width cards on the screen, since flex-basis doesnt get the -->
    <div class="gallery__box">
      <!-- <figure class="card">
        <img class="card__image" src="#" alt="card template" />
        <figcaption class="card__caption">
          <p class="card__title">card title</p>
          <p class="card__description">card | description</p>
        </figcaption>
      </figure> -->
    </div>
    <div class="pagination">
      <!-- <button class="pagination__button--arrow-left">
        <svg class="pagination__icon--arrow-left"><use href="/src/images/icons.svg#arrow"></use></svg>
      </button>
      <button class="pagination__button">1</button>
      <span class="pagination__hidden-results">&middot&middot&middot</span>
      <button class="pagination__button">20</button>
      <button class="pagination__button--current">21</button>
      <button class="pagination__button">22</button>
      <span class="pagination__hidden-results">&middot&middot&middot</span>
      <button class="pagination__button">99</button>
      <button class="pagination__button--arrow-right">
        <svg class="pagination__icon--arrow-right"><use href="/src/images/icons.svg#arrow"></use></svg>
      </button> -->
    </div>
  </section>
</main>

<!--
  button class description:
  - pagination__button--arrow-left  // button ze strzalka w lewo
  - pagination__button--arrow-right // button ze strzalka w prawo
  - pagination__button--current     // button z aktualna strona
  - pagination__button              // button na cala reszte listy z numerkami
  - pagination__hidden-results      // "..." wskazujace na ukryta tresc

  - pagination__icon--arrow-left    // ikona(svg) w lewo
  - pagination__icon--arrow-right   // ikona(svg) w prawo
-->
