<div class="modal-container hidden">
  <div class="modal-movie">
    <button class="modal-movie__button-close">
      <svg class="modal-movie__icon-close">
        <use href="/src/images/icons.svg#close"></use>
      </svg>
    </button>
    <!-- the rest is added through JS, click a card to fill this part -->
    <div class="modal-movie__wrapper">
        <div class="modal-movie__buttons">
          <button class="modal-movie__button-add-to-watched">ADD TO WATCHED</button>
          <button class="modal-movie__button-add-to-queue">ADD TO QUEUE</button>
        </div>
      </article>
    </div>
  </div>
</div>
