<section class="backdrop" data-backdrop>
  <section class="movie-details-modal" data-modal-open>
    <article class="movie-details-modal__img"></article>
    <article class="movie-details-modal__info">
      <h2>Movie Title</h2>
      <article class="movie-details-modal__list">
        <ul class="list__headings">
          <li>Vote / Votes</li>
          <li>Popularity</li>
          <li>Original Title</li>
          <li>Genre</li>
        </ul>
        <ul class="list__data">
          <li>
            <button type="button" class="list__btn">9.5</button>
            <span class="list__headings"> / </span>
            <button type="button" class="list__btn">1000</button>
          </li>
          <li>Popularity</li>
          <li>Original Title</li>
          <li>Genre</li>
        </ul>
      </article>
      <h3>About</h3>
      <p>
        Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet. Lorem ipsum dolor sin amet.
        Lorem ipsum dolor sin amet.
      </p>
      <article class="movie-details-modal__btn-container">
        <button type="button" class="btn-container__watched">Add to watched</button>
        <button type="button" class="btn-container__queue">Add to queue</button>
      </article>
    </article>
    <button type="button" class="movie-details-modal__close-btn"></button>
  </section>
</section>
