.authors {
  &__backdrop {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    background: rgba(#000, $alpha: 0.25);
    width: 100%;
    height: 100%;
    opacity: 1;
    animation: openBackdrop 250ms;
    padding: 30px;

    @include media-query(mobile) {
      padding: 10px;
    }
    @include media-query(tablet) {
      padding: 20px;
    }
    @include media-query(desktop) {
      padding: 30px;
    }

    &.hidden {
      display: none;
    }

    &.show {
      display: flex;
    }
  }

  //DOROBIC ANIMACJE CHOWANIA SIE
  &__modal {
    display: block;
    //decorative
    background: white;
    overflow-y: overlay;
    opacity: 1;
    max-height: 95vh;
    padding: 50px 30px 40px;

    @include media-query(mobile) {
      max-width: max(100%, 280px);
    }
    @include media-query(tablet) {
      max-width: 100%;
    }
    @include media-query(desktop) {
      max-width: 100%;
    }
  }
  &__list {
    gap: 20px;
    @include media-query(mobile) {
      @include flexbox(column, wrap, center, center);
    }
    @include media-query(tablet) {
      @include flexbox(row, wrap, center, center);
    }
    @include media-query(desktop) {
      @include flexbox(row, wrap, center, center);
    }
  }
}

.modal {
  &__header {
    @include flexbox();
    letter-spacing: 5px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    &-title {
      @include font(Roboto, 24px, 700, 19px, $font-color-secondary);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }

  &__button {
    width: 200px;
    height: 50px;
    margin-top: 20px;

    @extend .button;
  }
}

.author {
  border: 1px solid rgb(230, 230, 230);
  &__selfie {
    max-width: 370px;
    max-height: 200px;
  }

  &__desc {
    padding: 10px;
    text-align: center;
  }
}

.desc {
  &__title {
    font-weight: 700;
    text-decoration: 3px underline $accent-color;
    padding-bottom: 5px;
  }
}

@keyframes openBackdrop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
