.button {
  border: 1px solid $font-color-primary;
  border-radius: 5px;
  background: $button-background-color;
  cursor: pointer;
  @include font(Roboto, 12px, 500, 16px, $font-color-primary);
  @include transition(transform background-color border-color box-shadow, 0.25s, cubic-bezier(0, 0, 1, 1), 0s);
  &:active {
    transform: scale(0.9);
  }
  &:hover,
  &:focus,
  &:focus-within {
    background-color: $accent-color;
    border-color: $accent-color;
    color: $font-color-primary;
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
    @include transition(background-color border-color box-shadow, 0.25s, cubic-bezier(0, 0, 1, 1), 0s);
  }
  &--active {
    @extend .button;
    background-color: $accent-color;
    border-color: $accent-color;
    color: $font-color-primary;
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
    @include transition(background-color border-color box-shadow, 0.25s, cubic-bezier(0, 0, 1, 1), 0s);
  }
}
