.card {
  cursor: pointer;
  @include transition(scale, 0.15s, cubic-bezier(0, 0, 1, 1), 0s);
  &:hover,
  &:focus-within {
    scale: 1.1;
    @include transition(scale, 0.15s, cubic-bezier(0, 0, 1, 1), 0s);
  }
  &__image {
    background-color: $background-color-secondary;
    border-radius: 5px;
    @include media-query(mobile) {
      width: 280px;
      height: 402px;
    }
    @include media-query(tablet) {
      width: 294px;
      height: 398px;
    }
    @include media-query(desktop) {
      width: 274px;
      height: 398px;
    }
  }
  &__caption {
    width: 0;
    min-width: 100%;
    padding-top: 10px;
    @include flexbox(column, nowrap, center, flex-start);
  }
  &__title {
    word-wrap: break-word;
    @include font(Roboto, 12px, 500, 14px, $font-color-secondary);
  }
  &__description {
    @include font(Roboto, 12px, 500, 14px, $accent-color);
  }
}
