.header-home {
  @extend .container;
  position: relative;
  padding-top: 41px;
  padding-bottom: 97px;
  height: 230px;
  @include media-query(mobile) {
    @include responsive-background-image('../images/hero-home-mobile');
  }
  @include media-query(tablet) {
    @include responsive-background-image('../images/hero-home-tablet');
  }
  @include media-query(desktop) {
    @include responsive-background-image('../images/hero-home-desktop');
  }
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $hero-overlay-color;
    z-index: -1;
  }
}
