@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.spinner {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  animation-name: fade-in;
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 300ms;
  transition: all 250ms;

  &__box {
    background-color: #000000d8;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 1px rgba(0, 0, 0, 0.308) solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__box-modal {
    position: absolute;
    top: calc(50% - 55px);
    left: calc(50% - 55px);
    background-color: #00000052;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 1px rgba(0, 0, 0, 0.089) solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: rotate 1s linear infinite;
    fill: #f7e4d9;
  }
  &__icon--modal {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: rotate 1s linear infinite;
    fill: #fff;
  }
}
.image-container {
  position: relative;
}
.spinner__image {
  border: 5px solid rgba(0, 0, 0, 0.171);
  border-top: 5px solid $accent-color;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: rotate 1s linear infinite;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  transform: translate(-50%, -50%);
}

.spinner-modal {
  width: 100%;
  height: 100%;
  background-color: #646d742e;
  z-index: 1;
  backdrop-filter: blur(3px);
  transition: backdrop-filter 100ms;
  @include media-query(mobile) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  @include media-query(tablet) {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  @include media-query(desktop) {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
