.footer {
  min-width: $mobile;
  background-color: $background-color-secondary;
  white-space: nowrap;
  text-align: center;
  padding: 31px 0;

  @include flexbox(row, wrap, center, center);
  @include font(Roboto, 16px, 400, 19px, $font-color-secondary);
  @include media-query(mobile) {
    padding: 31.5px 0 31px 0;
  }
  @include media-query(tablet) {
    padding: 30px 0 28px 0;
  }

  &__heart-icon {
    width: 14px;
    height: 12.88px;
    fill: $accent-color;
    margin: 0px 10px 0 6px;
    display: inline-flex;
  }
}
