.gallery {
  @extend .container;
  @include flexbox(column, nowrap, center, center);
  &__box {
    @include media-query(mobile) {
      max-width: 280px;
    }
    @include media-query(tablet) {
      max-width: 618px;
    }
    @include media-query(desktop) {
      max-width: 882px;
    }
    @include media-query(desktop-wide) {
      max-width: 1186px;
    }
    @include flexbox(row, wrap, flex-start, center);
    gap: 30px;
  }
}
