.library-actions {
  @include flexbox(row, nowrap, center, center);
  margin-top: 49px;
  gap: 15px;
  &__button {
    @extend .button;
    padding: 14px 38px 12px 38px;
    &--active {
      @extend .button--active;
      @extend .library-actions__button;
    }
  }
}
